<!DOCTYPE html>
<html>
<head>
  <title>Phone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<center><h1>PHONE BOOK APPLICATION</h1></center>
<%= yield %>

</body>
</html>
